version: '3.8'

services:
  app:
    container_name: app-angular
    user: "${UID}:${GID}"
    build:
      context: ../../
      dockerfile: .docker/dev/Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
    volumes:
      - ../../:/app
      - /app/node_modules
    restart: unless-stopped
    command: sleep infinity
